%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} Blog
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "sass.html"} sign in
      %li
        %a{:href => "badges.html"} sign out
      %li
        %a{:href => "collapsible.html"} new
%h1 HelloWorld
%script{:src => "./app.js", :type => "text/javascript"}
